@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Grey+Qo&family=Mukta:wght@200;300;400;500;600;700;800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --nav-background: rgba(255, 255, 255, 0.1);
    --btn-bg: #512FEB;
    --btn-text: #fff;
    --text-color: #fff;
    --sub-text-color: #beb8b8fd;
    --title-bg-color: #0D0D0D;
    --border-color: rgb(255, 255, 255, 0.1);
    --icon-bg: #3F3F3F;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.space {
    padding: 50px 0;
}

body {
    font-family: "Outfit", sans-serif;
    overflow-x: hidden;
}

/*? ======= btn classes =======*/
.btn {
    font-family: "Outfit", sans-serif;
    background-color: var(--btn-bg);
    color: var(--btn-text);
    padding: 10px 15px;
    border: 0;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 400;
    display: flex;
    /* align-items: center; */
}

.btn a {
    color: var(--btn-text);
    text-decoration: none;
}


.btn a:hover {
    /* background-color: #d900ff; */
}



/**------------- Navigation Section ----------------*/

.navbar {
    padding: 20px 40px;
    /* padding: min(2em 5em,8%); */
    z-index: 99;
    position: absolute;
    width: 100%;
    top: 0px;
    position: fixed;
}

.nav_container {
    padding: 10px 18px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    backdrop-filter: blur(10px);
}

.logo h2 {
    color: var(--text-color);
    font-weight: 500;
    letter-spacing: 1px;
    /* line-height: 20px; */
    /* color: #3e12ff; */
    font-size: 22px;
}


/* .logo span{
    color: var(--sub-text-color);
    font-weight: 400;
    letter-spacing: 4px;
    font-size: 15px;
    line-height: 0px;
} */

.nav-list {
    display: flex;
    /* align-content: center; */
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    height: min-content;
    overflow: visible;
    padding: 2px 0;
    /* position: relative; */
    width: auto;
}

.nav-list li {
    list-style: none;
}

.nav-list li a {
    text-decoration: none;
    color: var(--text-color);
}

.nav-icon {
    display: none;
}

/*? ============== Header Section ================ */

.header {
    position: relative;
    /* height: auto; */
    /* height: max-content; */
    background-color: #000000;
    width: 100%;
    padding-bottom: 120px;
    /* top: 0; */
}


.hero_text_container {
    color: var(--text-color);
    /* height: 100vh; */
    position: relative;
    top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero_text_container h1 {
    color: var(--text-color);
    font-size: 65px;
    text-align: center;
    /* font-size: clamp(2.6rem,calc(70vw+1rem),5rem); */
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: -20px;
}

.hero_text_container span {
    font-family: "Edu AU VIC WA NT Arrows", cursive;
    font-size: 60px;
    color: #fff;
}

.hero_text_container h3 {
    color: var(--text-color);
    font-size: 58px;
    text-align: center;
    /* font-size: clamp(2.6rem,calc(70vw+1rem),5rem); */
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.hero_text_container h2 {
    color: var(--sub-text-color);
    font-size: 18px;
    width: 85%;
    text-align: center;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 8px;
    line-height: 1.5;
}

.hero_text_container p {
    color: var(--sub-text-color);
    margin-bottom: 35px;
    width: 85%;
    font-size: 18px;
    text-align: center;
}

.design_glow_img {
    overflow-x: hidden !important;
}

.design_glow_img .left {
    background-image: url("../assets/left\ row\ image.svg");
    position: absolute;
    background-repeat: no-repeat;
    overflow-x: hidden;
    filter: blur(60px);
    /* background-color: #512FEB; */
    width: 100%;
    height: 250px;
    /* left: 0; */
    left: -46px;
    top: 35px;
    opacity: .55;
    z-index: 1;
}

.design_glow_img .right {
    background-image: url("../assets/right\ row\ image.svg");
    width: 100%;
    height: 300px;
    overflow-x: hidden;
    background-repeat: no-repeat;
    position: absolute;
    top: 400px;
    transform: rotate(-10deg);
    left: 0;
    background-color: blueviolet;
    filter: blur(100px);
    opacity: .3;
    z-index: 0;
}



/* ??????????????? marquee in hero ??????????????? */
.marquee {
    display: flex;
    z-index: 1;
    width: 45%;
    margin-top: 0px !important;
    margin-bottom: 150px !important;
    justify-content: center;
    align-items: center;
    top: 220px;
    margin: 0 auto;
    block-size: var(--marquee-item-height);
    margin-block: var(--marquee-item-height);
    position: relative;
    overflow-x: hidden;
    mask-image: linear-gradient(to right,
            hsl(0 0% 0% / 0),
            hsl(0 0% 0% / 1) 20%,
            hsl(0 0% 0% / 1) 80%,
            hsl(0 0% 0% / 0));
}

.marquee--8 {
    --marquee-item-width: 100px;
    --marquee-item-height: 100px;
    --marquee-duration: 36s;
    --marquee-items: 8;
}

.marquee__item {
    margin: 0;
    --marquee-item-offset: max(calc(var(--marquee-item-width) * var(--marquee-items)),
            calc(100% + var(--marquee-item-width)));
    --marquee-delay: calc(var(--marquee-duration) / var(--marquee-items) * (var(--marquee-items) - var(--marquee-item-index)) * -1);
    position: absolute;
    inset-inline-start: var(--marquee-item-offset);
    /* transform: translateX(-50%); */
    animation: go linear var(--marquee-duration) var(--marquee-delay, 0s) infinite;
}

.marquee__item:nth-child(n) {
    /* border-top-right-radius: 1rem; */
    border-radius: 50%;
    text-align: center;
    filter: drop-shadow(0 0 0.75rem rgb(50, 241, 104));
}

.marquee--8 .marquee__item:nth-of-type(1) {
    --marquee-item-index: 1;
}

.marquee--8 .marquee__item:nth-of-type(2) {
    --marquee-item-index: 2;
}

.marquee--8 .marquee__item:nth-of-type(3) {
    --marquee-item-index: 3;
}

.marquee--8 .marquee__item:nth-of-type(4) {
    --marquee-item-index: 4;
}

.marquee--8 .marquee__item:nth-of-type(5) {
    --marquee-item-index: 5;
}

.marquee--8 .marquee__item:nth-of-type(6) {
    --marquee-item-index: 6;
}

.marquee--8 .marquee__item:nth-of-type(7) {
    --marquee-item-index: 7;
}

.marquee--8 .marquee__item:nth-of-type(8) {
    --marquee-item-index: 8;
}

@keyframes go {
    to {
        inset-inline-start: calc(var(--marquee-item-width) * -1);
    }
}

/*? =========== benefits Section ============ */

.benefits {
    background-color: #000000;
    width: 100%;
}

.title {
    display: flex;
    justify-content: center;
}


.title .title_btn {
    font-family: "Outfit", sans-serif;
    background-color: var(--title-bg-color);
    color: var(--sub-text-color);
    padding: 8px 15px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    font-size: 15px;
    font-weight: 400;
    display: flex;
    letter-spacing: 1px;
}

.title_name h3 {
    color: var(--text-color);
    font-size: 45px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 65px;
    /* background-color: #512FEB !important; */
}

/* hover title s */
.hover-underline {
    font-size: 2rem;
    color: #ffffff;
    position: relative;
    display: flex;
    justify-self: center;
}

.hover-underline::after,
.hover-underline::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #1100ff, #d900ff);
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
}

.hover-underline::before {
    top: -5px;
    transform-origin: left;
}

.hover-underline:hover::after,
.hover-underline:hover::before {
    transform: scaleX(1);
}

/* hover title e */


.benefits_card {
    max-width: 1200px;
    display: grid;
    width: 100%;
    gap: 30px;
    /* flex: none; */
    grid-template-columns: repeat(3, minmax(50px, 1fr));
    grid-template-rows: repeat(1, min-content);
    align-items: center;
    justify-self: center;
}

.b_card {
    position: relative;
    background-color: #0F0F0F;
    border: 1px solid var(--border-color);
    border-radius: 35px;
    padding: 20px 30px;
    overflow: hidden;
}

.b_card .card_icon {
    background-color: var(--icon-bg);
    width: 30px;
    height: 30px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
}

.b_card .card_text {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card_text .c-name h3 {
    font-size: 22px;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.2em;
}

.card_text .c-des p {
    font-size: 16px;
    color: var(--sub-text-color);
    font-weight: 400;
    line-height: 1.4em;
    letter-spacing: -.02em;
}

.c_glow_box {
    position: absolute;
    background-color: rgb(18, 31, 221);
    filter: blur(60px);
    width: 70px;
    height: 70px;
    top: 0;
    right: 0;
}